@import "abstracts/abstracts";
@import "pages/pages";

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Exo 2', sans-serif;
}

html{
	font-size: 10px;
}

@media (max-width: 900px){
	.slider{
		width: 100%;
	}
	
	.slider .slide .info{
		position: relative;
		width: 80%;
		margin-left: auto;
		margin-right: auto;
	}
}

@media (max-width: 500px){
	.slider .slide .info h2{
		font-size: 1.8em;
		line-height: 40px;
	}
	
	.slider .slide .info p{
		font-size: 0.9em;
	}
}


@media (max-width: 600px) {
	.content__banner__intro h2{
		font-size: 1.5em;
	}
	.content__banner__intro p{
		font-size: 1em;
	}
	.intro__img img{
		max-width: 300px;
	}
	
}

@keyframes float {
	0%, 100%{
		transform: translateY(1rem);
	}
	50%{
		transform: translateY(5rem);
	}
}

@media (max-width: 992px) {
	
	.contact__container__box__content{
		flex-direction: column;
		height: auto;
		padding: 20px ;
	}
	.contact__container__box__content .content__banner__intro{
		transform: translateX(0px);
		max-width: 100%;
		padding: 30px;
		margin-top: -40px;
	}
	header{
		position: relative;
		flex-direction: column;
		width: 100%;
		top: -60px;
		padding: 20px;
		right: 0;
		left: 0;
	}
	header ul{
		margin-top: 10px;
		flex-wrap: wrap;
		justify-content: center;
	}
	header ul li{
		margin: 2px;
	}
	header ul li a{
		display: inline-block;
	}
	.intro__img{
		margin-bottom: 50px;
	}
	.content__banner__intro a{
		font-size: 1em;
		padding: 10px 20px;
	}
	@keyframes animate {
		0%, 100%{
			transform: translateY(-20px);
		}
		50%{
			transform: translateY(20px);
		}
		
	}
	.social{
		position: relative;
		flex-direction: row;
		left: 0;
	}
	.social li a{
		margin: 0 10px;
	}
	.copyright{
		position: relative;
		bottom: initial;
		left: inherit;
		width: 100%;
		text-align: center;
		margin-top: 20px;
	}
}